<!DOCTYPE html>
<html lang="en" class="uk-height-1-1">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/libs/lodash-3.10.1.min.js"></script>
    <script src="js/libs/jquery-2.1.4.min.js"></script>
    <script src="js/libs/linkify-2.0.0.min.js"></script>
    <script src="js/libs/linkify-string-2.0.0.min.js"></script>
    <script src="js/libs/pjax-1.9.6.js"></script>
    <script src="js/libs/hammer-2.0.4.min.js"></script>
    <script src="js/libs/hammer.jquery-2.0.0.js"></script>
    <script src="js/libs/uikit-2.23.0.js"></script>
    <script src="js/libs/components/sticky.js"></script>
    <script src="js/libs/components/autocomplete.js"></script>
    <script src="js/libs/nprogress-0.2.0.js"></script>
    <script src="js/libs/nanoscroller-0.8.7.min.js"></script>
    <script src="js/main.js"></script>
</head>
<body class="uk-height-1-1">
{(include/navigation.html)}
<section id="main" class="uk-height-1-1">
{*view*}
</section>
</body>
</html>
